# Node modules
**/node_modules/

# Build output
**/build/
**/dist/

# Environment files
**/.env*
!**/.env.example

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS system files
.DS_Store

# IDE settings
.vscode/
.idea/

# Other (optional)
.pnp
.pnp.js
coverage/

# Ignore everything in uploads except /uploads/photos
/uploads/*
!/uploads/photos/
/uploads/photos/*
!*/photos/*.jpg
!*/photos/*.jpeg
!*/photos/*.png
!*/photos/*.webp
