# Ignore all node_modules folders (recursive)
**/node_modules/

# Ignore build output (like React and backend dist builds)
**/build/
**/dist/

# Ignore environment variable files anywhere
**/.env*
!**/.env.example  # keep example env file if needed

# Ignore logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# macOS
.DS_Store

# IDE files
.vscode/
.idea/

# Others (optional)
.pnp
.pnp.js
coverage/
