.profileContainer {
  max-width: 800px;
  margin: 0 auto;
  padding: 30px;
  color: #fff;
  background-color: #1e1e2f;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
}

.profileContainer h2 {
  color: #ffcc80;
  margin-bottom: 20px;
  font-size: 24px;
}

.profileInfo p {
  margin-bottom: 10px;
  font-size: 16px;
}

.profileInfo strong {
  color: #ffcc80;
}

.formGroup {
  margin-bottom: 15px;
}

.formGroup label {
  display: block;
  color: #ffcc80;
  margin-bottom: 5px;
}

.formGroup input,
.formGroup select,
.formGroup textarea {
  width: 100%;
  padding: 10px;
  background-color: #333;
  color: #fff;
  border: 1px solid #555;
  border-radius: 5px;
}

.formGroup input:focus,
.formGroup textarea:focus,
.formGroup select:focus {
  outline: none;
  border-color: #ffcc80;
}

.button {
  background-color: #424242;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.button:hover {
  background-color: #555;
}

.dangerButton {
  background-color: #ff5252;
  margin-left: 10px;
}

.dangerButton:hover {
  background-color: #ff1744;
}

.errorMessage {
  color: #ff6f61;
  margin-bottom: 10px;
}

.successMessage {
  color: #80e27e;
  margin-bottom: 10px;
}

.buttonPrimary {
  background-color: #424242;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
  transition: background 0.3s ease;
}

.buttonPrimary:hover {
  background-color: #555;
}

.buttonSecondary {
  background-color: #ff5252;
  margin-left: 10px;
  cursor: pointer;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  color: white;
  transition: background 0.3s ease;
}

.buttonSecondary:hover {
  background-color: #ff1744;
}